body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: #131313;
  color: #e5e2e1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
}

code {
  font-family: 'Courier New', monospace;
}
